HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
db/data/\#ib_16384_0.dblwr
db/data/\#ib_16384_1.dblwr
db/data/\#innodb_redo/\#ib_redo10
db/data/\#innodb_redo/\#ib_redo11_tmp
db/data/\#innodb_redo/\#ib_redo12_tmp
db/data/\#innodb_redo/\#ib_redo13_tmp
db/data/\#innodb_redo/\#ib_redo14_tmp
db/data/\#innodb_redo/\#ib_redo15_tmp
db/data/\#innodb_redo/\#ib_redo16_tmp
db/data/\#innodb_redo/\#ib_redo17_tmp
db/data/\#innodb_redo/\#ib_redo18_tmp
db/data/\#innodb_redo/\#ib_redo19_tmp
db/data/\#innodb_redo/\#ib_redo20_tmp
db/data/\#innodb_redo/\#ib_redo21_tmp
db/data/\#innodb_redo/\#ib_redo22_tmp
db/data/\#innodb_redo/\#ib_redo23_tmp
db/data/\#innodb_redo/\#ib_redo24_tmp
db/data/\#innodb_redo/\#ib_redo25_tmp
db/data/\#innodb_redo/\#ib_redo26_tmp
db/data/\#innodb_redo/\#ib_redo27_tmp
db/data/\#innodb_redo/\#ib_redo28_tmp
db/data/\#innodb_redo/\#ib_redo29_tmp
db/data/\#innodb_redo/\#ib_redo30_tmp
db/data/\#innodb_redo/\#ib_redo31_tmp
db/data/\#innodb_redo/\#ib_redo32_tmp
db/data/\#innodb_redo/\#ib_redo33_tmp
db/data/\#innodb_redo/\#ib_redo34_tmp
db/data/\#innodb_redo/\#ib_redo35_tmp
db/data/\#innodb_redo/\#ib_redo36_tmp
db/data/\#innodb_redo/\#ib_redo37_tmp
db/data/\#innodb_redo/\#ib_redo38_tmp
db/data/\#innodb_redo/\#ib_redo39_tmp
db/data/\#innodb_redo/\#ib_redo40_tmp
db/data/\#innodb_redo/\#ib_redo41_tmp
db/data/auto.cnf
db/data/binlog.000001
db/data/binlog.000002
db/data/binlog.000003
db/data/binlog.000004
db/data/binlog.000005
db/data/binlog.000006
db/data/binlog.000007
db/data/binlog.000008
db/data/binlog.000009
db/data/binlog.000010
db/data/binlog.000011
db/data/binlog.000012
db/data/binlog.000013
db/data/binlog.000014
db/data/binlog.000015
db/data/binlog.000016
db/data/binlog.000017
db/data/binlog.000018
db/data/binlog.000019
db/data/binlog.000020
db/data/binlog.000021
db/data/binlog.000022
db/data/binlog.000023
db/data/binlog.index
db/data/ca-key.pem
db/data/ca.pem
db/data/client-cert.pem
db/data/client-key.pem
db/data/ib_buffer_pool
db/data/ibdata1
db/data/mysql.ibd
db/data/mysql.sock
db/data/mysql/general_log.CSM
db/data/mysql/general_log.CSV
db/data/mysql/general_log_213.sdi
db/data/mysql/slow_log.CSM
db/data/mysql/slow_log.CSV
db/data/mysql/slow_log_214.sdi
db/data/performance_schema/accounts_145.sdi
db/data/performance_schema/binary_log_trans_189.sdi
db/data/performance_schema/cond_instances_82.sdi
db/data/performance_schema/data_lock_waits_161.sdi
db/data/performance_schema/data_locks_160.sdi
db/data/performance_schema/error_log_83.sdi
db/data/performance_schema/events_errors_su_139.sdi
db/data/performance_schema/events_errors_su_140.sdi
db/data/performance_schema/events_errors_su_141.sdi
db/data/performance_schema/events_errors_su_142.sdi
db/data/performance_schema/events_errors_su_143.sdi
db/data/performance_schema/events_stages_cu_111.sdi
db/data/performance_schema/events_stages_hi_112.sdi
db/data/performance_schema/events_stages_hi_113.sdi
db/data/performance_schema/events_stages_su_114.sdi
db/data/performance_schema/events_stages_su_115.sdi
db/data/performance_schema/events_stages_su_116.sdi
db/data/performance_schema/events_stages_su_117.sdi
db/data/performance_schema/events_stages_su_118.sdi
db/data/performance_schema/events_statement_119.sdi
db/data/performance_schema/events_statement_120.sdi
db/data/performance_schema/events_statement_121.sdi
db/data/performance_schema/events_statement_122.sdi
db/data/performance_schema/events_statement_123.sdi
db/data/performance_schema/events_statement_124.sdi
db/data/performance_schema/events_statement_125.sdi
db/data/performance_schema/events_statement_126.sdi
db/data/performance_schema/events_statement_127.sdi
db/data/performance_schema/events_statement_128.sdi
db/data/performance_schema/events_statement_129.sdi
db/data/performance_schema/events_statement_130.sdi
db/data/performance_schema/events_transacti_131.sdi
db/data/performance_schema/events_transacti_132.sdi
db/data/performance_schema/events_transacti_133.sdi
db/data/performance_schema/events_transacti_134.sdi
db/data/performance_schema/events_transacti_135.sdi
db/data/performance_schema/events_transacti_136.sdi
db/data/performance_schema/events_transacti_137.sdi
db/data/performance_schema/events_transacti_138.sdi
db/data/performance_schema/events_waits_cur_84.sdi
db/data/performance_schema/events_waits_his_85.sdi
db/data/performance_schema/events_waits_his_86.sdi
db/data/performance_schema/events_waits_sum_87.sdi
db/data/performance_schema/events_waits_sum_88.sdi
db/data/performance_schema/events_waits_sum_89.sdi
db/data/performance_schema/events_waits_sum_90.sdi
db/data/performance_schema/events_waits_sum_91.sdi
db/data/performance_schema/events_waits_sum_92.sdi
db/data/performance_schema/file_instances_93.sdi
db/data/performance_schema/file_summary_by__94.sdi
db/data/performance_schema/file_summary_by__95.sdi
db/data/performance_schema/global_status_181.sdi
db/data/performance_schema/global_variables_184.sdi
db/data/performance_schema/host_cache_96.sdi
db/data/performance_schema/hosts_146.sdi
db/data/performance_schema/keyring_componen_191.sdi
db/data/performance_schema/keyring_keys_152.sdi
db/data/performance_schema/log_status_174.sdi
db/data/performance_schema/memory_summary_b_154.sdi
db/data/performance_schema/memory_summary_b_155.sdi
db/data/performance_schema/memory_summary_b_156.sdi
db/data/performance_schema/memory_summary_b_157.sdi
db/data/performance_schema/memory_summary_g_153.sdi
db/data/performance_schema/metadata_locks_159.sdi
db/data/performance_schema/mutex_instances_97.sdi
db/data/performance_schema/objects_summary__98.sdi
db/data/performance_schema/performance_time_99.sdi
db/data/performance_schema/persisted_variab_187.sdi
db/data/performance_schema/prepared_stateme_175.sdi
db/data/performance_schema/processlist_100.sdi
db/data/performance_schema/replication_appl_165.sdi
db/data/performance_schema/replication_appl_166.sdi
db/data/performance_schema/replication_appl_167.sdi
db/data/performance_schema/replication_appl_168.sdi
db/data/performance_schema/replication_appl_170.sdi
db/data/performance_schema/replication_appl_171.sdi
db/data/performance_schema/replication_asyn_172.sdi
db/data/performance_schema/replication_asyn_173.sdi
db/data/performance_schema/replication_conn_162.sdi
db/data/performance_schema/replication_conn_164.sdi
db/data/performance_schema/replication_grou_163.sdi
db/data/performance_schema/replication_grou_169.sdi
db/data/performance_schema/rwlock_instances_101.sdi
db/data/performance_schema/session_account__151.sdi
db/data/performance_schema/session_connect__150.sdi
db/data/performance_schema/session_status_182.sdi
db/data/performance_schema/session_variable_185.sdi
db/data/performance_schema/setup_actors_102.sdi
db/data/performance_schema/setup_consumers_103.sdi
db/data/performance_schema/setup_instrument_104.sdi
db/data/performance_schema/setup_objects_105.sdi
db/data/performance_schema/setup_threads_106.sdi
db/data/performance_schema/socket_instances_147.sdi
db/data/performance_schema/socket_summary_b_148.sdi
db/data/performance_schema/socket_summary_b_149.sdi
db/data/performance_schema/status_by_accoun_177.sdi
db/data/performance_schema/status_by_host_178.sdi
db/data/performance_schema/status_by_thread_179.sdi
db/data/performance_schema/status_by_user_180.sdi
db/data/performance_schema/table_handles_158.sdi
db/data/performance_schema/table_io_waits_s_107.sdi
db/data/performance_schema/table_io_waits_s_108.sdi
db/data/performance_schema/table_lock_waits_109.sdi
db/data/performance_schema/threads_110.sdi
db/data/performance_schema/tls_channel_stat_190.sdi
db/data/performance_schema/user_defined_fun_188.sdi
db/data/performance_schema/user_variables_b_176.sdi
db/data/performance_schema/users_144.sdi
db/data/performance_schema/variables_by_thr_183.sdi
db/data/performance_schema/variables_info_186.sdi
db/data/private_key.pem
db/data/public_key.pem
db/data/server-cert.pem
db/data/server-key.pem
db/data/sys/sys_config.ibd
db/data/undo_001
db/data/undo_002
db/data/wargame/posts.ibd
db/data/wargame/users.ibd
IOCP/.vs/IOCP/v17/ipch/AutoPCH/f233945e0ff5eaca/LOBBY.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/dc419c4e7b3d1e10/LOBBY.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/cdfeeeba46399274/GAMEMANGER.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/c57fc58094537437/PACKETMANAGER.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/c153398b2a0b0872/GAMEMANGER.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/bc79a0639a58317c/GAMEMANGER.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/9157421a078787f3/IOCP.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/8aa802f98d0268e1/PACKETMANAGER.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/7b0b551a4676a901/IOCP.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/6f0e83f356ca9d4b/IOCP.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/5f79dee8560470e4/GAMEMANAGER.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/5f1024bcf1cf80ee/GAMEMANAGER.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/5058ea06053544b7/MINIDUMP.ipch
IOCP/.vs/IOCP/v17/ipch/AutoPCH/5016f851d3151d09/PACKETMANAGER.ipch
IOCP/.vs/IOCP/v17/Browse.VC.db
IOCP/.vs/IOCP/v17/.suo
IOCP/.vs/IOCP/v16/ipch/AutoPCH/f43bdee7beecf27d/GAMEMANGER.ipch
IOCP/.vs/IOCP/v16/ipch/AutoPCH/a4380fbf9fa2bcba/PACKETMANAGER.ipch
IOCP/.vs/IOCP/v16/ipch/AutoPCH/9f3aaf575a299d18/PACKETMANAGER.ipch
IOCP/.vs/IOCP/v16/ipch/AutoPCH/9dffad4ce210eaaa/IOCP.ipch
IOCP/.vs/IOCP/v16/ipch/AutoPCH/683e14307608dea8/IOCP.ipch
IOCP/.vs/IOCP/v16/ipch/AutoPCH/2c5a3bb6e9f3ec7b/GAMEMANGER.ipch
IOCP/.vs/IOCP/v16/Browse.VC.db
IOCP/.vs/IOCP/v16/.suo
IOCP/.vs/IOCP/FileContentIndex/ee6e0cb1-c45a-49a2-87dc-cb8fac6ca7c9.vsidx
IOCP/.vs/IOCP/FileContentIndex/89c17cd3-48a0-4a14-a7fe-9d2db059f5de.vsidx
IOCP/.vs/IOCP/FileContentIndex/6540b08b-d308-4083-95c4-8a4960a22ce8.vsidx
IOCP/.vs/IOCP/FileContentIndex/56e548ca-f50c-4e31-9b14-75b4d1f5cf63.vsidx
IOCP/.vs/IOCP/FileContentIndex/4b6cf3ef-8e5c-4c07-9515-53c486b94d82.vsidx
grafana/volume/grafana.db
grafana/volume/alerting/1/__default__.tmpl
IOCP/x64/Debug/GameManger.obj
IOCP/x64/Debug/IOCP.exe
IOCP/x64/Debug/IOCP.exe.recipe
IOCP/x64/Debug/IOCP.ilk
IOCP/x64/Debug/IOCP.log
IOCP/x64/Debug/IOCP.obj
IOCP/x64/Debug/IOCP.pdb
IOCP/x64/Debug/IOCP.tlog/CL.command.1.tlog
IOCP/x64/Debug/IOCP.tlog/Cl.items.tlog
IOCP/x64/Debug/IOCP.tlog/CL.read.1.tlog
IOCP/x64/Debug/IOCP.tlog/CL.write.1.tlog
IOCP/x64/Debug/IOCP.tlog/IOCP.lastbuildstate
IOCP/x64/Debug/IOCP.tlog/link.command.1.tlog
IOCP/x64/Debug/IOCP.tlog/link.read.1.tlog
IOCP/x64/Debug/IOCP.tlog/link.write.1.tlog
IOCP/x64/Debug/IOCP.vcxproj.FileListAbsolute.txt
IOCP/x64/Debug/libmysql.dll
IOCP/x64/Debug/Lobby.obj
IOCP/x64/Debug/miniDump.obj
IOCP/x64/Debug/PacketManager.obj
IOCP/x64/Debug/vc143.idb
IOCP/x64/Debug/vc143.pdb
prometheus/volume/data/01HR268BNDR36PPM484FA92P42/chunks/000001
prometheus/volume/data/01HR268BNDR36PPM484FA92P42/index
prometheus/volume/data/01HR268BNDR36PPM484FA92P42/meta.json
prometheus/volume/data/01HR268BNDR36PPM484FA92P42/tombstones
prometheus/volume/data/01HRMRJQCF3B1PWVYAA4QBW80Z/chunks/000001
prometheus/volume/data/01HRMRJQCF3B1PWVYAA4QBW80Z/index
prometheus/volume/data/01HRMRJQCF3B1PWVYAA4QBW80Z/meta.json
prometheus/volume/data/01HRMRJQCF3B1PWVYAA4QBW80Z/tombstones
prometheus/volume/data/01HSB0KTETHJZ27VEBHV35QE6A/chunks/000001
prometheus/volume/data/01HSB0KTETHJZ27VEBHV35QE6A/index
prometheus/volume/data/01HSB0KTETHJZ27VEBHV35QE6A/meta.json
prometheus/volume/data/01HSB0KTETHJZ27VEBHV35QE6A/tombstones
prometheus/volume/data/chunks_head/000001
prometheus/volume/data/queries.active
prometheus/volume/data/wal/00000006
prometheus/volume/data/wal/00000007
prometheus/volume/data/wal/00000008
prometheus/volume/data/wal/checkpoint.00000005/00000000
